# =========================
# Angular / Node
# =========================
node_modules/
dist/
tmp/
out-tsc/
bazel-out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
jspm_packages/

# Compiled output
*.tsbuildinfo

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# =========================
# Angular cache
# =========================
.angular/cache

# =========================
# Testing
# =========================
coverage/

# =========================
# Docker
# =========================
docker-compose.override.yml
*.log

# =========================
# Misc
# =========================
*.swp
*.bak
*.tmp