<footer class="site-footer">
  <section class="footer-brand">
    <h2>ACCESORIOS D&M</h2>
    <p>Accesorios elegantes para brillar todos los días.</p>
  </section>

  <section class="footer-links">
    <div>
      <h3>Navegación</h3>
      <a routerLink="/">Inicio</a>
      <a routerLink="/catalogo">Catálogo</a>
      <a routerLink="/admin">Admin</a>
    </div>

    <div>
      <h3>Contacto</h3>
      <p>Instagram: &#64;accesoriosdm</p>
      <p>WhatsApp: +57 316 675 600</p>
      <p>Email: accesoriosdm&#64;gmail.com</p>
    </div>

    <div>
      <h3>Redes</h3>
      <a href="https://www.instagram.com/accesoriosdm14?igsh=ZGY3aXJseWthczZ5&utm_source=qr/" target="_blank" rel="noopener noreferrer">Instagram</a>
      <a href="https://www.facebook.com/share/1JCbjVYCvR/?mibextid=wwXIfr/" target="_blank" rel="noopener noreferrer">Facebook</a>
      <a href="https://www.tiktok.com/@accesoriosdm14?_r=1&_t=ZS-96RroRuj4sv/" target="_blank" rel="noopener noreferrer">TikTok</a>
    </div>
  </section>

  <section class="footer-bottom">
    <p>© 2026 Accesorios D&M. Todos los derechos reservados.</p>
  </section>
</footer>